workFlows/RAG-4.5.json
{
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatId || ('web-' + $execution.id) }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        432,
        -144
      ],
      "id": "a72d1216-ece3-4934-8f8d-d78c27f21cc6",
      "name": "rag",
      "credentials": {
        "postgres": {
          "id": "C5bGHwHzonjkpQP1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger1\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        -368
      ],
      "id": "f310fa91-43a5-4eee-bf5f-675ff1ee6cc1",
      "name": "Send a text message1",
      "webhookId": "1f2fe2d3-9ba2-4a93-a7bb-c2791234f14e",
      "credentials": {
        "telegramApi": {
          "id": "HAuSe4gTgEzf6FI1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -448
      ],
      "id": "5364b1d3-8b3c-43e4-a8c2-90f59972cca8",
      "name": "Telegram Trigger1",
      "webhookId": "75db0a05-e6f1-411a-abf7-9459deadd25b",
      "credentials": {
        "telegramApi": {
          "id": "HAuSe4gTgEzf6FI1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fa8e37e-f33f-4a7a-8e93-81e98c13b9d6",
              "name": "userMessage",
              "value": "={{ $json.body?.question || $json.body?.text || $json.message?.text || $json.query?.text || '' }}\n",
              "type": "string"
            },
            {
              "id": "ea464f6c-2ad7-46a9-ae0a-b8d598c86049",
              "name": "channel",
              "value": "={{ $json.message ? \"telegram\" : \"webhook\" }}",
              "type": "string"
            },
            {
              "id": "57363ed4-e790-4b1c-959f-bfd9e103cb90",
              "name": "chatId",
              "value": "={{ $json.message?.chat?.id || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -464
      ],
      "id": "4a0f8506-4b70-4cde-b308-e3fefbdc69dd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        -464
      ],
      "id": "b2c4c4c0-7538-4314-a80c-5a325cc245e5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nrfWSLhUrVgNnlTx",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=1LuWI0NNrvWNe1Pl5YOOtPSfl-PujWCim",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -880,
        -464
      ],
      "id": "c66abb7b-cc0c-4318-ae82-ea1a3d88fc5f",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nrfWSLhUrVgNnlTx",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        -464
      ],
      "id": "1c4d01c7-ba06-4d9d-9bb9-e7367d4e7de0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Mencari informasi relevan dari dokumen PDF\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index-v2",
          "mode": "list",
          "cachedResultName": "rag-index-v2"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        -112
      ],
      "id": "1b078f2c-735f-4fdf-80f1-c0158f7a8e6b",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "VCIb2eyNGJx13inQ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        -512
      ],
      "id": "7442315b-a7cf-4ccd-b782-cda11cb67b41",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -128,
        -96
      ],
      "id": "524af4f8-17d6-496d-895b-0ed2ebc4120a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index-v2",
          "mode": "list",
          "cachedResultName": "rag-index-v2"
        },
        "embeddingBatchSize": 32,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -432,
        -464
      ],
      "id": "0bd3e64d-6304-4921-9b0d-23eef2b3e2b9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "VCIb2eyNGJx13inQ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        224
      ],
      "id": "ec677600-b5f4-456e-a99a-f9a4d0047bd1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XHBHjbS9OFuLHqAa",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        -144
      ],
      "id": "70188234-88bd-4006-abdd-81470b6c7bf9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XHBHjbS9OFuLHqAa",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webapp-sjk-ask",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        -624
      ],
      "id": "c700bd0b-a38c-43a4-86f0-c4086433c111",
      "name": "Webhook",
      "webhookId": "9f82d46b-db6c-412f-ab4f-5617079313c2"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -224,
        -256
      ],
      "id": "923c8715-8314-4ead-98b5-396541916a37",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "Kamu adalah AL, asisten berbasis Retrieval-Augmented Generation (RAG).\n\nAturan wajib:\n- Selalu lakukan pencarian konteks menggunakan Pinecone Vector Store sebelum menjawab.\n- Jawaban hanya boleh berasal dari konteks dokumen yang ditemukan.\n- Jika tidak tahu, katakan \"Maaf, saya tidak tahu.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        480,
        -448
      ],
      "id": "6bbc0d37-b9c0-4264-b2e2-d574e8a0a6a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e0269df-b3d8-4f0b-baee-34b0d0d2919a",
              "leftValue": "={{ $('Edit Fields').first().json.channel }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        -448
      ],
      "id": "7da60fca-e2b6-47d3-bacb-4986a3202070",
      "name": "If"
    }
  ],
  "connections": {
    "rag": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab32be089e4e5b7a5d36ccea75740d92cc73bc8f62827853c3b255ef7cf9c4df"
  }
}